<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.yakindu.transformation.queries.TargetPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.yakindu.transformation.queries.TargetPatterns" id="hu.bme.mit.gamma.yakindu.transformation.queries.TargetPatterns">
      <query-specification fqn="hu.bme.mit.gamma.yakindu.transformation.queries.nonEntryNonChoiceTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.yakindu.transformation.queries.interfaceToInterface"/>
      <query-specification fqn="hu.bme.mit.gamma.yakindu.transformation.queries.eventToEvent"/>
    </group>
  </extension>
</plugin>
